<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lowkey Tho... Game Lobby</title>
    <link rel="stylesheet" href="/styles/game.css">
  </head>
  <body>
    <p id="timer">Timer</p>
    <section id="prompt-container">
      <div id="prompt-card"> Prompt Here</div>
    </section>
    <section id="input-cards">
      <div class="other-card"></div>
      <div class="other-card"></div>
      <div id="user-input">
        <form method="post" action="/results">
          <input name='answer' rows="10" cols="30"></input>
          <div id="submit">
            <button id="submit-button">Submit</button>
          </div>
        </form>
      </div>
      <div class="other-card"></div>
      <div class="other-card"></div>
    </section>
  </body>
</html>
