<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lowkey Tho... Game Lobby</title>
    <link rel="stylesheet" href="/styles/low-key.css">
  </head>
  <body>
    <p id="timer">Timer</p>
    <div id="prompt-card"></div>
    <section id="input-cards">
      <div class="other-card"></div>
      <div class="other-card"></div>
      <div id="user-input"><textarea rows="10" cols="30"></textarea></div>
      <div class="other-card"></div>
      <div class="other-card"></div>
    </section>
    <div id="submit">
      <button id="submit-button">Submit</button>
    </div>
  </body>
</html>
