<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lowkey Tho... Game Lobby</title>
    <link rel="stylesheet" href="/styles/game.css">
  </head>
  <body>
    <div id="clockdiv">Timer</div>
    <section id="prompt-container">
      <div id="prompt-card" class="card"> {{prompt}}</div>
    </section>
    <section id="input-cards">
      <div class="other-card card"></div>
      <div class="other-card card"></div>
      <div id="user-input" class="card">
        <form method="post" action="/results">
          <textarea class = "text-input" name="answer" placeholder="Remember, be nice!" rows="10" cols="30"></textarea>
          <div id="submit">
            <button id="submit-button">Submit</button>
          </div>
        </form>
      </div>
      <div class="other-card card"></div>
      <div class="other-card card"></div>
    </section>
    <script src="scripts/game.js"></script>
  </body>
</html>
