<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lowkey Tho...</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body class = "background" background = "images/Project Background.jpg">
      <form method="post" action="/game">
        <p id = "username">Enter a username:</p>
        <p id = "input"><input class = "box" name="query"></p>
        <p id = "submit"><input class = "button" type="submit" value="Username"></p>
      </form>
   </body>
</html>
