<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lowkey Tho...</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="281545762345-8dc2shm2ar7e5dkorql5i6gb93ntbalg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

    <section id="login-area">
      <a href = {{url}}>Login </a>
      <section class = "usernameBox">
        <form method="post" action="/join">
          <script>
              // The ID token you need to pass to your backend:
              var id_token = googleUser.getAuthResponse().id_token;
              console.log("ID Token: " + id_token);
          </script>
        </form>
      </section>
    </section>

    <div id="logo-area">
      <img id="main-logo" src="/images/logo.png" alt="logo">
    </div>

    <div></div>

    <section class = "usernameB">
      <form method="post" action="/join">
        <p id = "username">Enter a username:</p>
        <p id = "input"><input class = "box" name="query"></p>
        <p id = "submit"><input class = "button" type="submit" value="Enter"></p>
      </form>
    </section>

    <p id="ground_rules"> Ground rules: This game gives the player freedom to express themselves.
        This freedom is an expression of trust from us, the devs, that you, the user, know
        better than to use racist, offensive, bigoted content. Remember: Your words are your own.</p>

    <p></p>

    <p id="how_to_play"> How to play: You will see a card with a prompt in the center of your
        screen. Then you answer the prompt with the blank card in the bottom of your screen by
        selecting it and typing a creative and hilarious response. Once everyone
        has submitted their cards or time has run out, you can vote for the card
        that you thought had the funniest response (You can't vote for yourself).
        The person with the most votes wins the round.</p>
    <script src='scripts/main.js'></script>
  </body>
</html>
