
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  max-height: 100vh;
  flex-direction: column;
  width: 100vw;
}

img{
  max-height: 20vh;
  padding: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px;
  width: 30vw;
}

#timer {
  background-color: purple;
  align-items: flex-start;
}

#prompt-card {
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: center;
}

#user-input {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

#username{
  color: white;
  text-align: center;
}

#input{
  text-align: center;

}
#submit {
  text-align: center;
}

#ground_rules {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin: 20px;
}
