body{
<<<<<<< HEAD
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 height: 100vh;
}
.username {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: rgba(255, 255, 255, 0.6);
 width: 30vw;
 margin:auto;
=======
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  width: 30vw;
  margin:auto;
>>>>>>> 29db0080efb274ed4bc2b5d718e033724c4d3c1f
}
#timer {
 background-color: purple;
 align-items: flex-start;
}
#prompt-card {
<<<<<<< HEAD
 background-color: green;
 width: 150px;
 height: 100px;
 margin: 20px;
 padding:20px;
}
=======
  background-color: green;
  width: 300px;
  height: 150px;
  margin: 20px;
  padding:20px;
}

<<<<<<< HEAD
#username{
  color: black;
  text-align: center;
=======

>>>>>>> 29db0080efb274ed4bc2b5d718e033724c4d3c1f
#username{
 color: black;
 text-align: center;
>>>>>>> dd6c3db4b4c792d172a9bec79b2f810c7d41f235
}
#input{
 text-align: center;
}
#submit {
 text-align: center;
}
#ground_rules {
 background-color: rgba(255, 255, 255, 0.6);
 padding: 20px;
 margin: 20px;
}
.how_to_play {
 background-color: rgba(255, 255, 255, 0.6);
 padding: 20px;
 margin: 20px;
 margin-top: 80px;
}
<<<<<<< HEAD
#input-cards {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.other-card{
 background-color: pink;
 width: 300px;
 height: 150px;
 margin: 20px;
}
#user-input {
 background-color: blue;
 width: 30vw;
 height: 20vh;
 padding: 20px;
 margin:20px;
}
input #card-input {
 width: 300px;
 height: 500px;
=======

 #input-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.other-card{
  background-color: pink;
  width: 300px;
  height: 150px;
  margin: 20px;
}

#user-input {
  background-color: blue;
  width: 30vw;
  height: 20vh;
  padding: 20px;
  margin:20px;
}

input #card-input {
  width: 300px;
  height: 500px;
>>>>>>> 29db0080efb274ed4bc2b5d718e033724c4d3c1f
}

#prompt-container {
  display: flex;
  justify-content: center;
}
