body {
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#username {
  color: black;
  text-align: center;
}

.abcRioButtonBlue {
  margin: 20px;
}

.usernameB{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  margin:auto;
  grid-row:2;
  grid-column: 1 / span 3;
}

#input {
 text-align: center;
}

#submit {
 text-align: center;
}

.rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom:0;
  width:100%;
  margin: auto;
  padding: 10px;
}

#main-logo {
  margin: auto;
  margin-top:100px;
  margin-bottom:-10px;
  height:30vmin;
  width:30vmin;
}

#logo-area{
  text-align: center;
}

#main-logo:hover {
  height: 12vh;
  height:35vmin;
  width:35vmin;
}

#how_to_play{
  padding: 20px;
  display:block;
  height:20vh;
  width: 30vw;
}


#ground_rules {
  padding: 20px;
  display:block;
  height:20vh;
  width:30vw;
}
#login-area{
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

a:hover{
  font-size: 30px;
}

input.button{
  background-color: white;
}

input.button:hover{
  background-color: #f0f0f0;
}
