body {
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 height: 100vh;
}
.usernameBox {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: rgba(255, 255, 255, 0.6);
 width: 30vw;
 margin:auto;
}

#username {
  color: black;
  text-align: center;
}

#input {
 text-align: center;
}

#submit {
 text-align: center;
}
#ground_rules {
 background-color: rgba(255, 255, 255, 0.6);
 padding: 20px;
 margin: 20px;
}

.how_to_play {
 background-color: rgba(255, 255, 255, 0.6);
 padding: 20px;
 margin: 20px;
 margin-top: 80px;
}

#main-logo {
  height: 10vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
