body {
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}

#card-responses {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 .card{
  background-color: white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 0 1pt black;
  width: 300px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top:10px;
  position: relative;
}

.card:hover{
  box-shadow: 5px 9px 7px black;
  text-shadow: 4px 4px 4px grey;
  transition: 1s;

}

.card img {
  width: 30px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  opacity: 0;
}

.card img:hover{
  opacity:1;
  transition: 1s;
}
